body {
    background: #fff;
    font-family: 'Roboto', sans-serif;
}

a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

ul {
    padding: 0;
    margin: 0;
}

h1, h3, h4, h5, h6, label, p {
    margin: 0;
}

/* **************************************************** */
/* ******************** HEADER TOP ******************** */
/* **************************************************** */
.header {
    border-bottom: 1px solid #000;
}

.header-top {
    background: #000;
    padding: 15px 0;
}

.header-left {
    float: right;
    margin-top: 4px;
}

.header-left ul {
    float: left;
}

.header-left ul li {
    display: inline-block;
}

.header-left ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
    margin: 0 2em 0 0;
}

.header-left ul li a:hover {
    color: #EF5F21;
}

.header-left .cart {
    float: right;
    color: #fff;
    font-size: 1.1em;
}

.header-left .cart .total {
    display: inline-block;
}

.header-left .cart img {
    margin-left: 5px;
}

.header-left .cart a {
    color: #fff;
    font-size: 1.1em;
}

.header-left .cart a:hover {
    text-decoration: none;
    color: #EF5F21;
}

.search {
    position: relative;
    float: left;
    width: 25%;
    background-color: #fff;
}

.search input[type="text"] {
    outline: none;
    padding: 3px 15px;
    background: none;
    width: 91%;
    border: none;
    font-size: 1.2em;
    color: #000;
    font-weight: 700;
}

.search input[type="submit"] {
    border: none;
    cursor: pointer;
    position: absolute;
    outline: none;
    top: 0;
    right: 0;
    background: #c7c7c7;
    font-size: 1.2em;
    color: #000;
    padding: 3px;
    font-weight: 700;
}

.search input[type="submit"]:hover {
    background: #EF5F21;
    color: #fff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

/* **************************************************** */
/* ************ NAVIGATION HEADER ********************* */
/* **************************************************** */
.navbar {
    margin-bottom: 0;
}

.navbar-inverse {
    background-color: #ffffff;
    border-color: #ffffff;
}

.nav {
    padding: 15px 0;
}

.navbar-brand {
    height: auto;
}

.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle, .navbar-inverse.collapsed {
    background-color: #000000;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    /* TODO change color to #EF5F21 */
    background-color: #000000;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #EF5F21;
    background-color: transparent;
}

/* **************************************************** */
/* *************** BANNER ***************************** */
/* **************************************************** */
.banner {
    background: url("../images/main-banner.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 560px;
    position: relative;
}

.banner-text {
    float: right;
    padding: 10em 0 1em;
    color: #fff;
    width: 50%;
}

.banner-text h3 {
    font-size: 3.2em;
    font-weight: 800;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    line-height: 1.2em;
}

.banner-text p {
    font-size: 1.2em;
    margin: 0.3em 0 1em;
}

/* **************************************************** */
/* *************** FOOTER ***************************** */
/* **************************************************** */
.footer-distributed {
    background-color: #000000;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 33%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: #5383d3;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 33%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #5383d3;
    text-decoration: none;;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 33%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed i:hover {
    color: #EF5F21;
}

/* **************************************************** */
/* *************** LOGIN AND REGISTER PAGE ************ */
/* **************************************************** */
.account h1, .register h1 {
    font-size: 3em;
    font-family: 'Lato', sans-serif;
    color: #000;
    text-align: center;
    font-weight: 600;
    margin-bottom: 1em;
}

.account-top span {
    font-size: 1em;
    display: block;
    padding: 0 0 0.5em;
    color: #A09F9F;
}

.account-top div {
    padding: 0.5em 0;
}

.account-top input[type="text"],
.account-top textarea, .account-top input[type="password"] {
    padding: 1em;
    width: 100%;
    background: none;
    border: 1px solid #A09F9F;
    outline: none;
    font-size: 1em;
}

.account-top textarea {
    resize: none;
    height: 60px;
}

.account-top input[type="submit"] {
    outline: none;
    padding: 7px 20px;
    color: #FFF;
    cursor: pointer;
    background: #EF5F21;
    border: none;
    /*width: 20%;*/
    min-width: 100px;
    margin: 1em auto 2em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    font-size: 1.2em;
}

.account-top input[type="submit"]:hover {
    background: #000;
}

.left-account img {
    width: 100%;
}

a.create {
    text-decoration: none;
    color: #fff;
    padding: 7px 20px;
    background: #EF5F21;
    text-align: center;
    display: block;
}

.five {
    background: #fff;
    border-radius: 100px;
    border: 2px solid #EF5F21;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 1%;
    right: 5%;
    text-align: center;
}

.five span {
    font-size: 1em;
    color: #EF5F21;
}

.five h2 {
    font-size: 1.5em;
    font-weight: 700;
    color: #000;
}

/* **************************************************** */
/* *************** LOGIN AND REGISTER PAGE ************ */
/* **************************************************** */
.register h1, .user-info h1 {
    font-size: 3em;
    font-family: 'Lato', sans-serif;
    color: #000;
    text-align: center;
    font-weight: 600;
    margin-bottom: 1em;
}

.product-edit-info-div h3,
.product-edit-image-div h3,
.product-edit-details-div h3,
.register-top-grid h3, .register-bottom-grid h3,
.profile-top-grid h3, .profile-bottom-grid h3,
.profile-addresses h3, .profile-add-address h3,
.profile-orders h3,
h3.milkroad-h3 {
    font-size: 1.5em;
    font-family: 'Lato', sans-serif;
    color: #000;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    font-weight: 600;
}

.product-edit-image-div img {
    max-height: 500px;
}

.product-add-detail-div {
    display: inline-flex;
    width: 100%;
}

.register-top-grid span, .register-bottom-grid span,
.profile-top-grid span, .profile-bottom-grid span,
.profile-addresses span, .profile-add-address span,
.product-edit-info-div span {
    font-size: 1em;
    display: block;
    color: #A09F9F;
}

span.error,
.product-edit-info-div span.error,
.account-top span.error, .checkout-order-details span.error,
.register-top-grid span.error, .register-bottom-grid span.error,
.profile-top-grid span.error, .profile-bottom-grid span.error,
.profile-addresses span.error, .profile-add-address span.error {
    display: block;
    color: red;
}

.product-edit-info-div .no-radius button {
    margin: 1em;
    padding: 1em;
    border: 1px solid #A09F9F;
    border-radius: 0;
    -webkit-appearance: none;
}

.product-edit-info-div .no-radius span {
    color: #333;
}

.product-edit-info-div input[type="text"],
.register-top-grid input[type="text"],
.profile-top-grid input[type="text"],
.register-bottom-grid input[type="text"],
.profile-bottom-grid input[type="text"],
.profile-addresses input[type="text"],
.profile-add-address input[type="text"],
.register-bottom-grid input[type="password"],
.profile-bottom-grid input[type="password"] {
    width: 100%;
    padding: 1em;
    margin: 1em 0;
    background: none;
    outline: none;
    border: 1px solid #A09F9F;
    -webkit-appearance: none;
}

.product-edit-info-div input[type="submit"],
.register-bottom-grid input[type="submit"],
.checkout-order-details input[type="submit"],
.profile-add-address input[type="submit"],
.profile-bottom-grid input[type="submit"] {
    background: #EF5F21;
    padding: 0.4em 1em;
    color: #fff;
    font-size: 1.2em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    display: inline-block;
    border: none;
    outline: none;
    margin: 10px;
    min-width: 100px;
}

.product-edit-info-div input[type="submit"]:hover,
.register-bottom-grid input[type="submit"]:hover,
.checkout-order-details input[type="submit"]:hover,
.profile-add-address input[type="submit"]:hover,
.profile-bottom-grid input[type="submit"]:hover {
    background: #000;
}

/* **************************************************** */
/* *************** CATALOG **************************** */
/* **************************************************** */
.catalog-left-header {
    border-bottom: 1px solid #000;
}

.catalog-left-header h3 {
    color: #000;
    border-bottom: 1px solid #000;
    width: 69%;
    font-size: 2em;
    font-family: 'Lato', sans-serif;
}

.catalog-left-menu {
    width: auto;
    height: auto;
    padding: 0;
    list-style: none;
    margin: 1.5em 0;
}

.catalog-left-menu > li > a {
    width: 100%;
    margin: 0.3em 0;
    display: inline-block;
    position: relative;
    color: #000;
    font-size: 1.1em;
    text-decoration: none;
}

.catalog-left-menu > li > a:hover {
    color: #EF5F21;
}

.product-preview, .product-image {
    position: relative;
    height: 250px;
    text-align: -webkit-center;
}

.product-preview img, .product-image img {
    max-height: 100%;
    max-width: 100%;
}

.product-item {
    margin-bottom: 2em;
}

p.product-name {
    font-size: 1em;
    color: #949494;
    text-align: center;
    line-height: 1.3em;
    padding: 1em 0;
}

.product-add {
    color: #fff;
    border: none;
}

a.product-add {
    text-decoration: none;
}

a.product-add p.product-price {
    font-size: 1.1em;
    color: #FFF;
    text-align: center;
    background: #EF5F21;
    padding: 0.5em 1em;
}

a.product-add p.product-price:hover {
    background: #000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

a.product-add p.product-price i {
    color: #FFF;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 0 0;
}

.product-details h4 {
    color: #000;
    font-size: 3em;
    font-family: 'Lato', serif;
}

.product-details p {
    font-size: 1em;
    color: #2c3e50;
    font-family: 'Lato', serif;
    line-height: 1.8em;
    margin: 1em 0;
}

.product-details h5 {
    color: #EF5F21;
    font-size: 2em;
    border-bottom: 1px solid #C4C3C3;
    padding: 0.3em 0;
}

ul.product-attributes {
    padding: 0.3em 0;
    border-top: 1px solid #C4C3C3;
    border-bottom: 1px solid #C4C3C3;
}

ul.product-attributes li {
    list-style: none;
    color: #000;
    font-family: 'Lato', serif;
    margin: 0.3em 0;
    font-size: 0.9em;
}

.product-add-cart {
    color: #fff;
    border: none;
}

a.product-add-cart {
    text-decoration: none;
    color: #fff;
    background: #EF5F21;
    padding: 0.4em 0.8em;
    font-size: 0.9em;
    text-transform: uppercase;
    margin-top: 2em;
    display: inline-block;
}

a.product-add-cart:hover {
    background: #000;
}

/* **************************************************** */
/* ****************** CART **************************** */
/* **************************************************** */
.cart-items {
    margin-top: 0;
    padding-bottom: 2em;
}

.cart-item {
    position: relative;
    margin-bottom: 3em;
}

.cart-item-image {
    width: 20%;
    float: left;
    margin-right: 5%;
}

.cart-item-image img {
    max-height: 100%;
    max-width: 100%;
}

.cart-item-info {
    width: 75%;
    float: left;
}

.cart-item-info h3 {
    font-size: 1em;
    font-weight: 600;
}

.cart-item-info h3 a {
    color: #000;
}

.cart-item-info h3 span {
    display: block;
    font-weight: 400;
    font-size: 0.85em;
    margin: 0.7em 0;
}

.cart-item-info h4 span {
    font-size: 0.65em;
    font-weight: 400;
}

ul.cart-item-details {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.cart-item-details li {
    display: inline-block;
    margin-right: 10%;
}

ul.cart-item-details li p {
    font-size: 0.8125em;
    color: #555;
}

.cart-item-remove {
    background: url("../images/cart-item-remove.png") no-repeat 0 0;
    cursor: pointer;
    width: 28px;
    height: 28px;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

.cart-item-remove a {
    display: block;
    width: 100%;
    height: 100%;
}

a.cart-continue {
    background: #EF5F21;
    padding: 10px 20px;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    display: block;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2em;
}

a.cart-continue:hover {
    background: #000;
}

.price-details {
    border-bottom: 1px solid #DDD9D9;
    padding-bottom: 10px;
}

.price-details h3 {
    color: #000;
    font-size: 1.2em;
    margin-bottom: 1em;
}

.price-details span {
    width: 50%;
    float: left;
    font-size: 0.8125em;
    color: #000;
    line-height: 1.8em;
}

ul.cart-total-price {
    padding: 0;
    margin: 1em 0 0 0;
    list-style: none;
}

ul.cart-total-price li {
    width: 50%;
    float: left;
}

ul.cart-total-price li span {
    font-size: 1.1em;
    color: #000;
}

a.cart-order {
    background: #EF5F21;
    padding: 10px 20px;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    display: block;
    font-weight: 600;
    text-align: center;
    margin: 3em 0;
}

a.cart-order:hover {
    background: #000;
}

.cart-item-count {
    position: absolute;
    right: 0;
    top: 50%;
    width: 100px;
}

/* **************************************************** */
/* ****************** CHECKOUT ************************ */
/* **************************************************** */
.checkout-order-details .radio {
    padding-left: 20px;
}

/* **************************************************** */
/* ****************** MANAGEMENT ********************** */
/* **************************************************** */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

.product-edit-info-div,
.product-edit-image-div,
.product-edit-details-div,
.account-top, .left-account, .register-top-grid, .register-bottom-grid,
.profile-top-grid, .profile-bottom-grid,
.profile-addresses, .profile-add-address,
.profile-orders {
    margin-bottom: 4em;
}

/* Make it responsive */
@media (max-width: 1080px) {
    .banner-text {
        width: 70%;
        margin: 0 0 0 3em;
    }

    .catalog-left-header h3 {
        font-size: 1.7em;
    }

    .product-image {
        width: 48%;
    }

    .product-details {
        width: 52%;
    }
}

@media (max-width: 768px) {
    .banner-text {
        width: 90%;
        margin: 0 0 0 3em;
    }

    .banner-text h3 {
        font-size: 2.5em;
    }

    .catalog-left {
        width: 50%;
    }

    .product-item {
        float: left;
        width: 33.3%;
    }

    .navbar-brand {
        padding: 0 0;
    }

    .product-image {
        width: 100%;
    }

    .product-details {
        width: 100%;
        margin-left: 0;
        float: left;
    }

    .product-details h4 {
        font-size: 2em;
    }

    .product-preview, .product-image {
        height: 170px;
    }
}

@media (max-width: 640px) {
    .banner-text {
        padding: 7em 0 1em;
    }

    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }

    .left-account {
        margin-top: 2em;
    }
}

@media (max-width: 480px) {
    .banner-text {
        margin: 0 0 0 2em;
    }

    .banner-text h3 {
        font-size: 1.5em;
    }

    .banner-text p {
        font-size: 1em;
    }

    .banner {
        min-height: 294px;
    }

    .banner-text {
        padding: 3em 0 1em;
    }

    .search {
        display: none;
    }

    .header-left {
        float: none;
        margin-top: 0;
        text-align: center;
    }

    .header-left ul {
        float: none;
    }

    .header-left .cart {
        float: none;
    }

    .account h1, .register h1 {
        font-size: 2em;
        margin-bottom: 0.3em;
    }

    .product-edit-info-div h3,
    .product-edit-image-div h3,
    .product-edit-details-div h3,
    .register-top-grid h3, .register-bottom-grid h3,
    .profile-top-grid h3, .profile-bottom-grid h3,
    .profile-addresses h3, .profile-add-address h3,
    .profile-orders h3, h3.milkroad-h3 {
        font-size: 1.2em;
    }

    .catalog-left {
        width: 63%;
    }

    a.product-add p.product-price {
        font-size: 0.9em;
    }

    .product-preview, .product-image {
        height: 100px;
    }
}

@media (max-width: 320px) {
    .banner-text {
        padding: 1.5em 0 1em;
        margin: 0 0 0 1em;
    }

    .banner-text h3 {
        font-size: 0.9em;
        line-height: 1.5em;
        letter-spacing: 3px;
        margin-bottom: 0.2em;
    }

    .banner-text p {
        font-size: 0.8em;
    }

    .header-top {
        padding: 10px 0;
    }

    .header-left ul li a {
        margin: 0 1em 0 0;
        font-size: 1em;
    }

    .header-left ul {
        margin-top: 13px;
    }

    .header-left .cart {
        font-size: 1em;
    }

    .header-left .cart a {
        font-size: 0.9em;
    }

    .product-edit-info-div input[type="submit"],
    .product-edit-info-div input[type="submit"],
    .account-top input[type="submit"],
    .register-bottom-grid input[type="submit"],
    .profile-bottom-grid input[type="submit"],
    .checkout-order-details input[type="submit"],
    .profile-add-address input[type="submit"] {
        font-size: 1em;
    }

    .product-edit-info-div,
    .product-edit-image-div,
    .product-edit-details-div,
    .account-top, .left-account, .register-top-grid, .register-bottom-grid,
    .profile-top-grid, .profile-bottom-grid,
    .profile-addresses, .profile-add-address,
    .profile-orders {
        padding: 0;
    }

    .product-edit-info-div h3,
    .product-edit-image-div h3,
    .product-edit-details-div h3,
    .register-top-grid h3, .register-bottom-grid h3,
    .profile-top-grid h3, .profile-bottom-grid h3,
    .profile-addresses h3, .profile-add-address h3,
    .profile-orders h3, h3.milkroad-h3 {
        font-size: 1.1em;
    }

    .catalog-left {
        width: 100%;
        padding: 0;
    }

    .product-item {
        padding: 0 3px;
    }

    p.product-name {
        font-size: 0.8em;
    }

    a.product-add p.product-price {
        font-size: 0.8em;
        padding: 0.5em 0.5em;
    }

    .product-info, .product-image, .product-details {
        padding: 0;
    }

    .product-details h4 {
        font-size: 1.5em;
    }

    .cart-items, .cart-total {
        padding: 0;
    }
}
