/* **************************************************** */
/* ******************** HEADER TOP ******************** */
/* **************************************************** */
.header {
    border-bottom: 1px solid #000;
}

.header-top {
    background: #000;
    padding: 15px 0;
}

.header-left {
    float: right;
    margin-top: 4px;
}

.header-left ul {
    float: left;
}

.header-left ul li {
    display: inline-block;
}

.header-left ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
    margin: 0 2em 0 0;
}

.header-left ul li a:hover {
    color: #EF5F21;
}

.header-left .cart {
    float: right;
    color: #fff;
    font-size: 1.1em;
}

.header-left .cart .total {
    display: inline-block;
}

.header-left .cart img {
    margin-left: 5px;
}

.header-left .cart a {
    color: #fff;
    font-size: 1.1em;
}

.header-left .cart a:hover {
    text-decoration: none;
    color: #EF5F21;
}

.search {
    position: relative;
    float: left;
    width: 25%;
    background-color: #fff;
    margin-top: 11px;
}

.search input[type="text"] {
    outline: none;
    padding: 3px 15px;
    background: none;
    width: 91%;
    border: none;
    font-size: 1.2em;
    color: #000;
    font-weight: 700;
}

.search input[type="submit"] {
    border: none;
    cursor: pointer;
    position: absolute;
    outline: none;
    top: 0;
    right: 0;
    background: #c7c7c7;
    font-size: 1.2em;
    color: #000;
    padding: 3px;
    font-weight: 700;
}

.search input[type="submit"]:hover {
    background: #EF5F21;
    color: #fff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

/* **************************************************** */
/* ************ NAVIGATION HEADER ********************* */
/* **************************************************** */
.navbar {
    margin-bottom: 0;
}

.navbar-inverse {
    background-color: #ffffff;
    border-color: #ffffff;
}

.nav {
    padding: 15px 0;
}

.navbar-brand {
    padding: 0 15px;
}

.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle, .navbar-inverse.collapsed {
    background-color: #000000;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    /* TODO change color to #EF5F21 */
    background-color: #000000;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #EF5F21;
    background-color: transparent;
}

/* **************************************************** */
/* *************** BANNER ***************************** */
/* **************************************************** */
.banner {
    background: url("../images/main-banner.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 560px;
    position: relative;
}

/* **************************************************** */
/* *************** FOOTER ***************************** */
/* **************************************************** */
.footer-distributed {
    background-color: #000000;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 33%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: #5383d3;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 33%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #5383d3;
    text-decoration: none;;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 33%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed i:hover {
    color: #EF5F21;
}

/* **************************************************** */
/* *************** LOGIN AND REGISTER PAGE ************ */
/* **************************************************** */
.account h1, .register h1 {
    font-size: 3em;
    font-family: 'Lato', sans-serif;
    color: #000;
    text-align: center;
    font-weight: 600;
    margin-bottom: 1em;
}

.account-top span {
    font-size: 1em;
    display: block;
    padding: 0 0 0.5em;
    color: #A09F9F;
}

.account-top div {
    padding: 0.5em 0;
}

.account-top input[type="text"],
.account-top textarea, .account-top input[type="password"] {
    padding: 1em;
    width: 100%;
    background: none;
    border: 1px solid #A09F9F;
    outline: none;
    font-size: 1em;
}

.account-top textarea {
    resize: none;
    height: 60px;
}

.account-top input[type="submit"] {
    outline: none;
    padding: 7px 20px;
    color: #FFF;
    cursor: pointer;
    background: #EF5F21;
    border: none;
    width: 20%;
    min-width: 100px;
    margin: 1em auto 2em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    font-size: 1.2em;
}

.account-top input[type="submit"]:hover {
    background: #000;
}

.left-account img {
    width: 100%;
}

a.create {
    text-decoration: none;
    color: #fff;
    padding: 7px 20px;
    background: #EF5F21;
    text-align: center;
    display: block;
}

.five {
    background: #fff;
    border-radius: 100px;
    border: 2px solid #EF5F21;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 1%;
    right: 5%;
    text-align: center;
}

.five span {
    font-size: 1em;
    color: #EF5F21;
}

.five h2 {
    font-size: 1.5em;
    font-weight: 700;
    color: #000;
}

/* **************************************************** */
/* *************** LOGIN AND REGISTER PAGE ************ */
/* **************************************************** */
.register h1 {
    font-size: 3em;
    font-family: 'Lato', sans-serif;
    color: #000;
    text-align: center;
    font-weight: 600;
    margin-bottom: 1em;
}

.register-top-grid h3, .register-bottom-grid h3 {
    font-size: 1.5em;
    font-family: 'Lato', sans-serif;
    color: #000;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    font-weight: 600;
}

.register-top-grid span, .register-bottom-grid span {
    font-size: 1em;
    display: block;
    color: #A09F9F;
}

.register-top-grid input[type="text"],
.register-bottom-grid input[type="text"],
.register-bottom-grid input[type="password"] {
    width: 100%;
    padding: 1em;
    margin: 1em 0;
    background: none;
    outline: none;
    border: 1px solid #A09F9F;
    -webkit-appearance: none;
}
.register-bottom-grid input[type="submit"] {
    background: #EF5F21;
    padding: 0.4em 1em;
    color: #fff;
    font-size:1.2em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    display: inline-block;
    border:none;
    outline:none;
    margin: 10px;
    width: 20%;
    min-width: 100px;
}
.register-bottom-grid input[type="submit"]:hover{
    background:#000;

}

/* Make it responsive */
@media (min-width: 768px) {
    .navbar-brand {
        padding: 15px 0;
    }
}

@media (max-width: 640px) {
    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }

    .left-account {
        margin-top: 2em;
    }
}

@media (max-width: 480px) {
    .search {
        display: none;
    }

    .header-left {
        float: none;
        margin-top: 0;
        text-align: center;
    }

    .header-left ul {
        float: none;
    }

    .header-left .cart {
        float: none;
    }

    .account h1, .register h1 {
        font-size: 2em;
        margin-bottom: 0.3em;
    }

    .register-top-grid h3, .register-bottom-grid h3 {
        font-size: 1.2em;
    }
}

@media (max-width: 320px) {
    .header-top {
        padding: 10px 0;
    }

    .header-left ul li a {
        margin: 0 1em 0 0;
        font-size: 1em;
    }

    .header-left ul {
        margin-top: 13px;
    }

    .header-left .cart {
        font-size: 1em;
    }

    .header-left .cart a {
        font-size: 0.9em;
    }

    .account-top input[type="submit"], .register-bottom-grid input[type="submit"] {
        font-size: 1em;
    }

    .account-top, .left-account, .register-top-grid, .register-bottom-grid {
        padding: 0;
    }

    .register-top-grid h3, .register-bottom-grid h3 {
        font-size: 1.1em;
    }
}
