<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:p="http://www.springframework.org/schema/p"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:context="http://www.springframework.org/schema/context"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context.xsd">

    <http auto-config='true'>
        <intercept-url pattern="/profile/**" access="isAuthenticated()"/>
        <intercept-url pattern="/profile/addAddress" access="hasAuthority('CUSTOMER')"/>
        <intercept-url pattern="/profile/editAddress" access="hasAuthority('CUSTOMER')"/>
        <intercept-url pattern="/management/**" access="hasAnyAuthority('ADMIN', 'SELLER')"/>
        <intercept-url pattern="/checkout" access="hasAuthority('CUSTOMER')"/>
        <intercept-url pattern="/cart/**" access="hasAnyAuthority('ANONYMOUS', 'CUSTOMER')"/>
        <form-login login-page="/login" username-parameter="email" password-parameter="pass"
                    authentication-success-handler-ref="customAuthenticationSuccessHandler"
                    authentication-failure-handler-ref="failureHandler"/>
        <logout logout-success-url="/logoutSuccess"/>
        <access-denied-handler error-page="/accessDenied"/>
        <anonymous username="guest" granted-authority="ANONYMOUS"/>
        <csrf disabled="true"/>
    </http>

    <beans:bean id="failureHandler"
                class="com.tsystems.javaschool.milkroad.security.CustomAuthenticationFailureHandler"
                p:defaultFailureUrl="/login"/>

    <context:component-scan base-package="com.tsystems.javaschool.milkroad.security"/>

    <authentication-manager>
        <authentication-provider ref="customAuthenticationProvider"/>
    </authentication-manager>

</beans:beans>