<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>Milkroad</display-name>

    <servlet>
        <servlet-name>UserListServlet</servlet-name>
        <servlet-class>com.tsystems.javaschool.milkroad.servlet.UserListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserListServlet</servlet-name>
        <url-pattern>/userlist</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProductListServlet</servlet-name>
        <servlet-class>com.tsystems.javaschool.milkroad.servlet.ProductListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductListServlet</servlet-name>
        <url-pattern>/productlist</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OrderListServlet</servlet-name>
        <servlet-class>com.tsystems.javaschool.milkroad.servlet.OrderListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderListServlet</servlet-name>
        <url-pattern>/orderlist</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.tsystems.javaschool.milkroad.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.tsystems.javaschool.milkroad.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.tsystems.javaschool.milkroad.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>com.tsystems.javaschool.milkroad.servlet.ProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CatalogServlet</servlet-name>
        <servlet-class>com.tsystems.javaschool.milkroad.servlet.CatalogServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CatalogServlet</servlet-name>
        <url-pattern>/catalog</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>com.tsystems.javaschool.milkroad.servlet.CartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>com.tsystems.javaschool.milkroad.servlet.CheckoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ManagementServlet</servlet-name>
        <servlet-class>com.tsystems.javaschool.milkroad.servlet.ManagementServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManagementServlet</servlet-name>
        <url-pattern>/management</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>AccessFilter</filter-name>
        <filter-class>com.tsystems.javaschool.milkroad.servlet.filter.AccessFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AccessFilter</filter-name>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-name>ManagementServlet</servlet-name>
    </filter-mapping>

    <filter>
        <filter-name>FormDataFilter</filter-name>
        <filter-class>com.tsystems.javaschool.milkroad.servlet.filter.FormDataFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FormDataFilter</filter-name>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-name>CheckoutServlet</servlet-name>
    </filter-mapping>

</web-app>
